/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply the font */
html, body {
    height: 100%;
    width: 100%;
    font-family: "Kalam", serif;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    background-color: #f6fff8;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
}

/* Center the .poem-div and make it a row */
.poem-div {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the child elements horizontally */
    align-items: start; /* Center the child elements vertically */
    gap: 1.25rem; /* Add space between elements */
    text-align: center; /* Center the text inside each div */
    width: 100%; /* Add this to ensure proper width */
}

.title h1{
    font-weight: bold;
}

.poem {
    text-align: left;   /* Aligns the text to the left */
    font-size: 1.125rem;    /* Adjust font size as needed */
    line-height: 1.6;   /* Adjust line height for readability */
  }
  .poem p {
    margin: 0;  /* Removes default paragraph margin */
    font-size: 0.938rem;
  }
 .author p{
   font-weight: bold;
}

.btn {
    text-align: center;  
    margin-top: 1.25rem; 
    
}

.btn a {
    text-decoration: none;  /* Removes underline */
}

.btn button{
    font-family: "Kalam", serif;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 0.625remrem;
    border: 0.063rem solid black;
    transition: 0.18s;  
    cursor: pointer;
    position: relative;
    font-size: 1.125rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.063rem solid #6b9080;
    background-color: #eaf4f4;
}

.btn button:hover {
    box-shadow: 0.313rem 0.313rem black; 
}
.btn button:hover #buttonText {
    visibility: hidden;  
}


.btn button:hover::after {
    content: "अब चलो भी!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.125rem;
    font-family: "Kalam", serif;
}


.btn button span {
    visibility: visible;
   
}
