* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6fff8;
}

.heading h1 {
    padding-bottom: 12.5rem;
    font-size: 2.5rem;
    line-height: 1.2;
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space {
    position: fixed;
}

.btn {
    text-align: center;
    margin-top: 1.25rem;
}

.btn a {
    text-decoration: none; 
}

.btn button {
    font-family: "Lexend Mega", serif;
    font-weight: bold;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    border: 1px solid #6b9080;
    transition: 0.18s;
    cursor: pointer;
    position: relative;
    font-size: 0.625rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaf4f4;
}

.btn button:hover {
    box-shadow: 0.313rem 0.313rem black;
}

.btn button:hover #buttonText {
    visibility: hidden;
}

.btn button:hover::after {
    content: "Yeah, baby!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 0.625rem;
    font-family: "Lexend Mega", serif;
    font-weight: bold;
}

.btn button span {
    visibility: visible;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .heading h1 {
        font-size: 1.875rem;
        padding-bottom: 3.75rem;
    }

    .btn button {
        width: 11.25rem;
        height: 40.313rem;
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .heading h1 {
        font-size: 1.5rem;
        padding-bottom: 2.5rem;
    }

    .btn button {
        width: 10rem;
        height: 2.5rem;
        font-size: 0.75rem;
    }

    .btn button::after {
        font-size: 0.75rem;
    }
}
