* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Special Elite", serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #f6fff8;
}

.btn {
    text-align: center;
    margin-top: 1.25rem;
}

.btn a {
    text-decoration: none;
}

.btn button {
    font-family: "Special Elite", serif;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    border: 1px solid #6b9080;
    background-color: #eaf4f4;
    transition: 0.18s;
    cursor: pointer;
    position: relative;
    font-size: 1.125rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button:hover {
    box-shadow: 0.313rem 0.313rem black;
}

.btn button:hover span {
    visibility: hidden;
}

.btn button:hover::after {
    content: "Good hotchick!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.125rem;
    font-family: "Special Elite", serif;
}

.btn button span {
    visibility: visible;
}
